.v-expand-button {
  height: 10px;
  margin: -8px 0 !important;
  button {
    height: 10px;
    line-height: 10px;
    width: 100%;
    i {
      line-height: 10px;
    }
    .mat-icon {
      line-height: 10px;
      height: 10px;
      color: #bbb;
    }
  }
}
h3.mat-line {
  font-size: 16px !important;
  small {
    font-size: 14px;
    color: #777;
  }
}
.dull {
  opacity: 0.75;
}
.trans {
  opacity: 0.5;
}
.auto-overflow {
  overflow: auto !important;
}
.hide-overflow-x {
  overflow-x: hidden !important;
}
.bottom-button {
  min-width: 120px !important;
}
.module-host {
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column !important;
  overflow: auto;
  & > div:not(.foot-buttons){
    flex: auto;
  }
}
.full-height {
  height: 100%;
  overflow-x: hidden;
}
.list-host {
  margin-bottom: 75px;
}
.custom-confirm-page-height {
  height: calc(100vh - 200px);
}
.popup-host {
  flex: auto;
    display: flex;
    height: 100%;
}
.no-wrap{
  white-space: nowrap;
}
.mat-form-field-infix{
    width: auto !important;
}