<form [formGroup]="changeForm" fxLayout="column" (ngSubmit)="save()" fxFlex>
  <div>
    <h1 matDialogTitle>Change Password</h1>
  </div>
  <div fxLayout="row wrap" fxFlex>
    <div fxFlex="100">
      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Current Password" [type]="oldType ? 'text' : 'password'"
            [formControl]="changeForm.controls['old_password']">
            <button type="button" mat-icon-button matSuffix
              (click)="oldType = !oldType">
              <mat-icon>{{oldType ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100">
      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="New Password" [type]="newType ? 'text' : 'password'"
            [formControl]="changeForm.controls['new_password']">
          <button type="button" mat-icon-button matSuffix
            (click)="newType = !newType">
            <mat-icon>{{newType ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-hint>Password must contain lowercase, uppercase, number, special character and minimum 8 characters.</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex="40px">
    <span fxFlex></span>
    <button mat-raised-button class="mr-1" color="accent" type="button" (click)="cancel()">Close</button>
    <button mat-raised-button color="primary" [disabled]="changeForm.invalid" (click)="save()">Confirm & Change</button>
  </div>
</form>